:root {
  --border-width: 3px;
  --border-color: #1a1a1a;

  --background-color: #151515;
  --foreground-color: #eee;
  --primary-color: #f5f5f5;
  --secondary-color: #444;
  --third-color: #343434;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: "Roboto", sans-serif;
  border: var(--border-width) solid var(--border-color);
}

.header {
  background-color: var(--third-color);
  padding: 10px;
  border-bottom: var(--border-width) solid var(--border-color);
}

.container {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

.left-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.preview-panel,
.assets-panel,
.right-panel {
  position: relative;
  overflow: auto;
  background-color: var(--secondary-color);
}

.preview-panel {
  flex-grow: 1;
  border-bottom: var(--border-width) solid var(--border-color);
}

.assets-panel {
  flex-basis: 0;
  flex-grow: 1;
}

.right-panel {
  flex-grow: 1;
  border-left: var(--border-width) solid var(--border-color);
}
