:root {
  --grid-gap: 10px;
}

/* Main Grid */
.grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.grid-child {
  overflow: auto;
}

/* JS TREE */
#folder-panel {
  background-color: var(--third-color);
  border-right: var(--border-width) solid var(--border-color);
}

/* Right Grid */
.sub-grid-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 14fr;
}

/* File Path Display at the Top */
#file-path-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--third-color);
  border-bottom: var(--border-width) solid var(--border-color);
  text-align: left;
}

/* Back button styles */
#back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 5px 10px;
  border-radius: 3px;
}

/* The <p> displaying the filepath */
#file-path {
  margin-left: 10px;
}

/* Items Section */
#content-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: var(
    --grid-gap
  ); /* Use CSS variable for both horizontal and vertical gap */
  padding: 10px;
  overflow: auto;
  align-content: start;
}

.folder-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  aspect-ratio: 1/1;
  transition: ease-in-out 0.1s;
  margin-bottom: var(--grid-gap);
}

.folder-item:hover {
  background-color: var(--button-hover-color);
}

.folder-item:active {
  background-color: var(--button-active-color);
}

.folder-item .folder-icon {
  font-size: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.folder-item .folder-icon img {
  margin-top: -10px;
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.folder-item p {
  margin: -5px;
}
