.assets-section .filepath-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--third-color);
  border-bottom: var(--border-width) solid var(--border-color);
}

p {
  margin: 0;
  padding: 0;
}

.content-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 10px;
  padding: 10px;
  overflow: auto;
}

.folder-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  cursor: pointer;
  aspect-ratio: 1/1;
  transition: ease-in-out 0.1s;
}

.folder-item:hover {
  background-color: var(--button-hover-color);
}

.folder-item:active {
  background-color: var(--button-active-color);
}

.folder-icon {
  font-size: 2em;
  margin-bottom: 5px;
}

.new-folder {
  background-color: var(--third-color);
}

.add-item {
  background-color: var(--third-color);
}
