.preview-toolbar button img {
  height: 14px;
  position: relative;
  top: 50%;
  transform: translateY(12.5%);
}

.icon-btn {
  padding: 5px;
  margin: 5px;
}

.preview-panel:active {
  cursor: grab;
}

.preview-panel:active canvas {
  cursor: grabbing;
}
