:root {
  --border-width: 3px;
  --border-color: #1a1a1a;

  --background-color: #151515;
  --foreground-color: white;
  --secondary-color: #444;
  --third-color: #343434;

  --button-color: #1a1a1a;
  --button-hover-color: #2a2a2a;
  --button-active-color: #363636;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
